html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: orange;
}

header {
    background-color: black;
    width: 100%;
    height: 15vh;
}

footer {
    background-color: black;
    width: 100%;
    height: 15vh;
    position: fixed;
    bottom: 0;
    left: 0;
}

#botonperfil {
    position: fixed;
    top: 1%;
    right: 0.5%;
    height: 40px;
    width: 40px;
}

#imgperfil {
 
    height: 25px;
    width: 25px;
}

#logopizza {
    position: absolute;
    left: -0.3%;
    width: 16vh;
    height: 11vh;
}