html {
    background-color: orange;
  
}

header {
    background-color: black;
    min-width: 100vh;
    min-height: 20vh;
}

footer {
    background-color: rgb(121, 17, 17);
    position: absolute;
    bottom: 100%;

    min-width: 100vh;
    min-height: 20vh;
}

#logopizza {
    position: relative;
    right: 0%;
}