html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: orange;
}

header {
    background-color: black;
    width: 100%;
    height: 20vh;
}

footer {
    background-color: black;
    width: 100%;
    height: 20vh;
    position: fixed;
    bottom: 0;
    left: 0;
}

#logopizza {
    position: absolute;
    left: 0;
    width: 18vh;
    height: 13vh;

}